<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isel.yawa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/weather_img2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".present.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".present.CreditsActivity" />
        <activity android:name=".present.WeatherActivity" />
        <activity android:name=".present.ForecastActivity" />
        <activity android:name=".present.OtherSettingsActivity" />
        <activity android:name=".present.PreferencesActivity" />

        <provider
            android:name=".model.content.WeatherProvider"
            android:authorities="isel.yawa"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="false" />

        <service
            android:name=".model.services.CurrentWeatherService"
            android:exported="false"/>
        <service
            android:name=".model.services.ForecastFetchingService"
            android:exported="false"/>

        <service android:name=".model.services.NotificationEmitter"
            android:exported="false"/>

        <receiver android:name=".broadcastReceivers.AlarmsDeactivate">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW">
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcastReceivers.AlarmsRegister">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>